@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 100px;
  width: 100%;
  display: flex;
  gap: 350px;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 80px;
  width: 300px;
}

#nav-content {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 100%;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.27);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}

#page1 h1 {
  font-size: 150px;
  font-weight: 500;
  font-family: "montserrat";
}

#page1 h2 {
  font-size: 40px;
  font-weight: 200;
  font-family: "Poppins";
}

#page1 p {
  font-size: 15px;
  font-weight: 200;
  width: 60%;
  text-align: center;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
  position: relative;
}

#cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: aliceblue;
  z-index: 99;
}

#cursor-blur {
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background-color: rgba(240, 248, 255, 0.555);
  filter: blur(30px);
  z-index: 9;
}

#scroller {
  white-space: nowrap;
  display: flex;
  gap: 5px;
  overflow-x: auto;
  overflow-y: hidden;
}

#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  animation-name: scroll;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#scroller h4 {
  display: inline-block;
  font-size: 100px;
  font-weight: 900;
  font-family: gilroy;
  margin-right: 30px;
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  transition: all linear 0.3s;
}

#scroller h4:hover {
  color: #fff;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#page2-text {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
}

#page2-text h1 {
  font-size: 60px;
  font-weight: 900;
  font-family: "montserrat";
}

#page2-text p {
  font-size: 20px;
  font-weight: 200;
  width: 60%;
  text-align: center;
}

#cards-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  position: relative;
  z-index: 10;
}

.card {
  height: 80%;
  width: 24%;
  background-color: #fff;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

#card1 {
  background-image: url("https://albionfit.com/cdn/shop/products/369A1127final_5000x.jpg?v=1671851406");
}

#card2 {
  background-image: url("https://albionfit.com/cdn/shop/files/044A0086final_5000x.jpg?v=1718897302");
}

#card3 {
  background-image: url("https://albionfit.com/cdn/shop/files/369A3443final_261a7718-2a5f-4763-ac52-0b499a483bcc_5000x.jpg?v=1692306212");
}
